<div id="particles-js"></div>

<div class="searchPanel z-depth-3">
  <div class="row">
    <h3 class="audiowide-font col s12 red-text text-darken-2">DiGamma Project</h3>
    <app-input-search></app-input-search>
  </div>
</div>
<footer class="page-footer" style="background-color: #272727 !important;">
  <div class="footer-copyright footer-colors">
    <div class="container">
      <a class="grey-text text-lighten-4 left about" href="about">About Us!</a>
      <a class="grey-text text-lighten-4 right about" href="#!">Fiszcz & Spółka Company © 2018 Copyright</a>
    </div>
  </div>
</footer>
