<div class="register-background">
   <div class="filter-black"></div>
   <div class="container">
      <div class="row">
         <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="search-card">
               <div class="title">
                  <img src="https://raw.githubusercontent.com/scresh/Digamma/master/images/logo-gray.png" alt="logo"/>
               </div>
               <form class="search-form">
                  <div class="col-xs-offset-1 col-xs-10">
                     <input type="text" class="form-control">
                  </div>
                  <div class="col-xs-offset-2 col-xs-4 col-sm-3 col-sm-offset-3">
                     <label class="radio">
                     <input type="radio" name="resultsType" data-toggle="radio" id="tor" value="tor" checked>
                     Tor sites
                     </label>
                  </div>
                  <div class="col-xs-6 col-sm-6">
                     <label class="radio">
                     <input type="radio" name="resultsType" data-toggle="radio" id="iot" value="iot">
                     IoT devices
                     </label>
                  </div>
                  <div class="col-xs-offset-3 col-xs-6">
                     <button class="btn btn-block">SEARCH</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="footer register-footer text-center">
   <h6>&copy; 2019, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
</div>
