.search-card {
  border-color: #C3073F;
  border-style: solid;
  border-width: 2px;
  background-color: #1B1B1B;
  border-radius: 8px;
  color: #fff;
  margin: 20px 0 70px;
  min-height: 420px;
  padding: 30px; }

.search-card label {
  margin-top: 30px; }

.search-card img {
  margin: 0 auto;
  width: 100%;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: #C3073F;
}

.form-control{
  border-style: solid;
  border-width: 2px;
  border-color: #C3073F;
}

.search-card .title {
  alignment: center;
  text-align: center; }

.search-card .btn {
  margin-top: 15px; }

input[type="text"]{
    border-radius: 0 0 8px 8px;

}


.home {
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%; }

.home .filter-black::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.home .container {
  margin-top: 11%;
  position: relative;
  z-index: 3; }

.home-footer {
  bottom: 20px;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%; }

.home-footer .fa-heart {
  color: #C3073F; }


.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  -webkit-transition: color,opacity 0.25s linear;
  transition: color,opacity 0.25s linear;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #fff;
  cursor: pointer; }
  .checkbox .icons,
  .radio .icons {
    color: #c3073f;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    text-align: center;
    line-height: 21px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: color,opacity 0.15s linear;
    transition: color,opacity 0.15s linear;
    opacity: .50; }
  .checkbox.checked .icons,
  .radio.checked .icons {
    opacity: 1; }
  .checkbox input,
  .radio input {
    outline: none !important;
    display: none; }

.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #DDDDDD; }

.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100); }

.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #DDDDDD; }

.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  color: #DDDDDD;
  filter: alpha(opacity=100); }

