<div class="red lighten-2 body">
<div class="container white z-depth-4">
  <div class="row">
    <img class="col s6 m2 offset-m2 offset-m5" src="../../assets/logo.png">
  </div>

  <div class="row center-align">
    <h5>Wyszukiwarka DiGamma została zrealizowana jako projekt uczelnieny przez szęściu zdolnych i szalonych studentów Politechniki
      Warszawskiej.</h5> <br>
    <h5>Jeżeli twoim marzeniem jest współtworzenia wyszukiwarki przyszłości skontaktuj się z nami: </h5><br>
    <i class="material-icons medium col s2 offset-s1 red-text">mail_outline</i> <h4 class="col">twojastara123@digamma.com</h4>
  </div>

  <p class="divider"></p>

  <div class="row flex-row">
    <h2 class="col s12 center-align">Twórcy aplikacji</h2>
    <div class="col s6 m2 center-align" *ngFor="let person of we">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator image-person" [src]="person.image">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{person.name}}</span>
          <!--<p>{{person.activity}}</p>-->
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Slogan<i class="material-icons right">close</i></span>
          <p>{{person.slogan}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
