<div class="section section-dark text-center landing-section">
   <div class="tim-title">
      <h1><br>Simple</h1>
   </div>
   <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod<br>
      tincidunt ut laoreet dolore magna aliquam erat volutpat.<br>
      Ut wisi enim ad minim veniam.
   </p>
   <div class="container">
      <div class="col-md-4">
         <div class="contributor">
            <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
            <h5>Emanuel Zarzecki <br /><small class="text-muted">Music</small></h5>
            <p>Babiarz hazardzista</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="contributor">
            <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
            <h5>Emanuel Zarzecki <br /><small class="text-muted">Music</small></h5>
            <p>Babiarz hazardzista</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="contributor">
            <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
            <h5>Emanuel Zarzecki <br /><small class="text-muted">Music</small></h5>
            <p>Babiarz hazardzista</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="contributor">
            <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
            <h5>Emanuel Zarzecki <br /><small class="text-muted">Music</small></h5>
            <p>Babiarz hazardzista</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="contributor">
            <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
            <h5>Emanuel Zarzecki <br /><small class="text-muted">Music</small></h5>
            <p>Babiarz hazardzista</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="contributor">
            <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
            <h5>Emanuel Zarzecki <br /><small class="text-muted">Music</small></h5>
            <p>Babiarz hazardzista</p>
         </div>
      </div>
   </div>
</div>
