.section {
  min-height: 100vh;
}

.tinted { opacity: 2.0; }


.contributor .img-circle, .contributor .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}

.img-details .author {
  margin-left: 10px;
  margin-top: -21px;
  width: 40px; }

.img-circle {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  alignment: center;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 1px; }


