<div class="about-us">
  <div class="section section-dark text-center">
     <div class="container">
       <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
               <div class="tim-title"><h1><br>Our team</h1></div>
     <p>
        We are a group of computer science students at the Warsaw University of Technology.<br>
       <b>Digamma</b> is an archaic letter of the Greek alphabet written as &#x3DC; (Classical) or &#886; (Pamphylian).<br>
       It has remained in use as a numeral for 6, just like the number of our team members. <br>
     </p>
        <div class="col-md-4">
           <div class="contributor">
              <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
              <h5>Emanuel Zarzecki<br /><small class="text-muted">Music</small></h5>
              <p>Babiarz hazardzista</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="contributor">
              <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
              <h5>Filip Szcześniak<br /><small class="text-muted">Music</small></h5>
              <p>Babiarz hazardzista</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="contributor">
              <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
              <h5>Adam Wołonkiewicz<br /><small class="text-muted">Music</small></h5>
              <p>Babiarz hazardzista</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="contributor">
              <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
              <h5>Mikołaj Trzaskowski <br /><small class="text-muted">Music</small></h5>
              <p>Babiarz hazardzista</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="contributor">
              <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
              <h5>Mateusz Sykut <br /><small class="text-muted">Music</small></h5>
              <p>Babiarz hazardzista</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="contributor">
              <img src="../../assets/img/avatar.png" alt="Thumbnail Image" class="img-circle img-responsive">
              <h5>Maciej Stepnowski<br /><small class="text-muted">Music</small></h5>
              <p>Babiarz hazardzista</p>
           </div>
        </div>

        </div>
       </div>

     </div>
  </div>
      <footer class="footer-demo section-dark">
      <div class="container">
          <div class="copyright">
              &copy; 2019, made with <i class="fa fa-heart heart"></i> by Digamma Team
          </div>
      </div>
  </footer>
</div>
