<form class="col s12">
  <div class="input-field col s12 row">
    <div class="col s10 small-p-lr">
      <input id="searchText" type="tel" name="searchingText" class="validate" [(ngModel)]="searchingText">
      <label for="searchText">Wyszukaj...</label>
    </div>
    <div class="col s2 waves-effect waves-light btn center-align search-button-height search__icon" (click)="search()">
      <i class="material-icons">search</i>
    </div>
    <div class="col s12">
      <h6 *ngIf="Searching.count>0">Znaleziono <b>{{Searching.count}}</b> dopasowań</h6>
      <h6 *ngIf="Searching.count==0">Nie znaleziono dopasowań</h6>
    </div>
  </div>
</form>
