.search-button-height {
  height: 3rem !important;
  line-height: 3rem !important;
}

.small-p-lr {
  padding-left: 0 !important;
}

.search__icon {
  background-color: #d32f2f;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 5px #333;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
.search__icon:hover {
  background-color: #a40a0a;
}

.radio-red {
  color: rgb(160, 10, 10);
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.radio-red:hover {
  color: rgb(255, 0, 0);
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #d32f2f;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid #222;
}
