<div id="particles-js"></div>

<div class="searchPanel">
  <div class="row">
    <h3 class="title col s12">DiGamma Project</h3>
    <form class="col s12">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Wyszukaj...</label>
      </div>
    </form>
  </div>
</div>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 left" href="#!">Obout Us!</a>
      <a class="grey-text text-lighten-4 right" href="#!">Fiszcz & Spółka Company © 2018 Copyright</a>
    </div>
  </div>
</footer>
