.url {
  font-size: 12px;
}

.collection-item:hover {
  background-color: rgba(1, 11, 102, 0.12);
}

.link:hover {
  text-decoration: underline;
  font-size: 15px;
}

.sentence {
  font-size: 10px;
}
