.url {
  font-size: 12px;
}

.collection-item:hover {
  background-color: #333;
}

.link:hover {
  text-decoration: underline;
  font-size: 15px;
}

.sentence {
  font-size: 10px;
}

.back-color {
  background-color: #444;
}

.border-color {
  border: 1px solid #666;
}

.light-back {
  background-color: #666;
}

.min-height {
  min-height: 100vh;
}

.activePage {
  background-color: #e53935;
}
