<nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <!--<img src="https://raw.githubusercontent.com/scresh/Digamma/master/images/favicon.png" />-->
        Digamma
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-2">
      <ul class="nav navbar-nav navbar-right">
        <!--<li>-->
            <!--<a href="about-us/" class="btn btn-simple">About us</a>-->
        <!--</li>-->
        <li>
            <a href="about-us" class="btn btn-simple"> About us</a>
        </li>
        <li>
            <a href="https://github.com/scresh/Digamma" target="_blank" class="btn btn-simple"><i class="fa fa-github"></i> Github</a>
        </li>
       </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
