  <div class="section section-dark text-center">
     <div class="container">
       <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          <h6>{{ result.title }}</h6>
          <div class="scrollbar" id="style-1">
            <blockquote>
             <p>
              {{ result.content }}
             </p>
             <small>
              {{ result.updated_at }}
             </small>
            </blockquote>
          </div>
        </div>
       </div>

     </div>
  </div>
      <footer class="footer-demo section-dark">
      <div class="container">
          <div class="copyright">
              &copy; 2019, made with <i class="fa fa-heart icon"></i> by Digamma Team
          </div>
      </div>
  </footer>
